*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: "Montserrat", 'Segoe UI';
    /* transition: all 0.8s ease; */
    color: #3a4e67;
}
a{
    text-decoration: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
    /* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.tabelaUsuario, .base, .rodape{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*CAMPO DE ALERTAS*/
.alertas{
    position: fixed;
    background-color: #ff2023;
    border: 2px solid #F9FAFB;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    top: 10px;
    z-index: +99;
    color: #F9FAFB;
    font-size: 14px;
    display: none;
}

/*MENU*/
.modal{
    background-color: hsla(217, 19%, 27%, 0.282);
    height: 100vh;
    width: 100%;
    display: none;
    backdrop-filter: blur(5px);
    & i{
        cursor: pointer;
    }
}
.menu-lateral{
    height: 100vh;
    width: 350px;
    background-color: #F9FAFB;
    right: 0px;

    & .inicio{
        border-color: #374151;

        & i{
            font-size: 25px;
        }
    }
}
.componentes{
    & a{
        cursor: pointer;

        &:hover{
            background-color: #37415123;
        }
    }
    & iframe{
        height: 400px;
        width: 100%;
        border-radius: 10px;
    }
}

/*MENU*/
.logo{
    height: 80px;
    filter: drop-shadow(5px 5px 5px gray);
}
.menu{
    height: 90px;
    & h1{
        font-family: "Gochi Hand", cursive;
        letter-spacing: 2px;
    }
    & i{
        font-size: 30px;
        cursor: pointer;
    }
}

/*BANNER*/
.container-banner{
    width: 100%;
    background-color: #3a4e67;
}
.banner{
    height: 450px;
}
.avisos{
    height: 350px;
    color:#e5c78a;
    border-radius: 10px;
    border:3px solid #e5c78a;

    & p, strong, small, i, h1, h2{
        color:#e5c78a;
    }
    small{
        position: absolute;
        right: 0;
        margin-right: 30px;
        bottom: 25px;
    }
    & img{
        height: 300px;
    }
}
.carousel-inner{
    height: 100%;
}
.carousel-item{
    padding: 10px;
}

/*AREA DO USUÁRIO*/
.funcoes{
    gap: 20px;
}
.estrutura{
    border: 1px solid #e5c78a;
    box-shadow: 5px 5px 10px #e5c78a;

    & a, button{
        color: #F9FAFB;
        background-color: #a60002;
        border: 1px solid transparent;

        &:hover{
            background-color: transparent;
            color:#a60002;
            border: 1px solid #a60002;
        }
    }
    & input{
        color: #374151;
        width: 300px;
    }
}

/*TABELA DE NÚMERO ESCOLHIDOS PELO CLIENTE*/
.consulta{
    background-color: #F9FAFB;
    & i {
        color: #3a4e67;
        font-size: 23px;
    }

    & thead, td, tr, th{
        color: #3a4e67;
    }
}



/*TODOS OS BOTÕES DE FECHAMENTO FLUTUANTES*/
.close{
    padding: 5px;
    cursor: pointer;
    height: 40px;
    padding: 5px;
    box-shadow: 0px 0px 5px #F9FAFB;
    border-radius: 10px;
}

/*RODAPE*/
footer{
    width: 100%;
    background-color: #3a4e67;
}
.rodape{
    & h1{
        color: #F9FAFB;
    }
    & p{
        color: #F9FAFB;
    }
    .base{
        flex-direction: column;
        color: #F9FAFB;

        & a{
            color: #F9FAFB;
            & i{
                color: #F9FAFB;
            }
        }
        & a:hover >  i, a:hover > p{
            color: #f9fafb8e;
        }
    }
}
