@media (max-width: 768px){
    .banner{
        height: 600px;
    }
    .avisos{
        height: 500px;

        & img{
            height: 200px;
        }
    }
    small{
        display:none;
    }
}